// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@use '../vendors/bootstrap';
@use './variables' as v;

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Kitty Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

//@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
//TODO: add breakpoints next, prev functions

@mixin m-down($name) {
  @include bootstrap.media-breakpoint-down($name, v.$breakpoints) {
    @content;
  }
}

@mixin m-up($name) {
  @include bootstrap.media-breakpoint-up($name, v.$breakpoints) {
    @content;
  }
}

@mixin m-between($lower, $upper) {
  @include bootstrap.media-breakpoint-between($lover, $upper, v.$breakpoints) {
    @content;
  }
}

@mixin m-exact($name) {
  @include bootstrap.media-breakpoint-between($name, v.$breakpoints) {
    @content;
  }
}

///Hide scrollbar
@mixin hide-scroll() {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  ::-webkit-scrollbar {
    background: transparent; /* Optional: just make scrollbar invisible */
    width: 0; /* Remove scrollbar space */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
    background: #f00;
  }
}
